<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>IoT Smart Door Lock</title>
</head>

<body>
    <h1>Welcome </h1>
    <form id="QrGenerateForm">
        <button type="submit">Generate</button>
    </form>
    <div id="result">
        <h1></h1>
    </div>

    <div class="button-container">
        <a href="qrlist" class="qr-list-button">Go to QR List</a>
    </div>

    <script src="/static/js/script.js" defer></script>

</body>

</html>